# Node
node_modules/
**/node_modules/
.npm/
npm-debug.log*

# Env
.env
.env.*
!.env.example
**/.env
**/.env.*

# Next.js
.next/
out/

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
.DS_Store

# Coverage & build artifacts
coverage/
dist/
build/

# Contracts
cache/
artifacts/
